.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("../images/background.png");
    background-color: #ffccd5;
    background-size: contain;
    font-family: 'Press Start 2P', cursive, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}